# Configuration file

general {
    # Enable/Disable recipes for crafting [default: true]
    B:add_crafting=false

    # Enable/Disable recipes for smelting [default: true]
    B:add_smelting=true

    # Enable/Disable worldgen for coal [default: false]
    B:baseWorldgenCoal=true

    # Enable/Disable worldgen for diamond [default: false]
    B:baseWorldgenDiamond=true

    # Enable/Disable worldgen for emerald [default: false]
    B:baseWorldgenEmerald=false

    # Enable/Disable worldgen for gold [default: false]
    B:baseWorldgenGold=true

    # Enable/Disable worldgen for iron [default: false]
    B:baseWorldgenIron=true

    # Enable/Disable worldgen for lapis [default: false]
    B:baseWorldgenLapis=true

    # Enable/Disable worldgen for quartz [default: false]
    B:baseWorldgenQuartz=true

    # Enable/Disable worldgen for redstone [default: false]
    B:baseWorldgenRedstone=true
}


ores {

    block_coal {
        S:baseBlock=coal_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:coal_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=120
        I:veinRate=4
        I:veinSize=48
    }

    block_diamond {
        S:baseBlock=diamond_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:diamond_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=16
        I:veinRate=4
        I:veinSize=8
    }

    block_emerald {
        S:baseBlock=emerald_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:emerald_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=1
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }

    block_gold {
        S:baseBlock=gold_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:gold_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=32
        I:veinRate=3
        I:veinSize=32
    }

    block_iron {
        S:baseBlock=iron_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:iron_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=64
        I:veinRate=16
        I:veinSize=32
    }

    block_lapis {
        S:baseBlock=lapis_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:lapis_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=32
        I:veinRate=8
        I:veinSize=32
    }

    block_redstone {
        S:baseBlock=redstone_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:redstone_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=16
        I:veinRate=4
        I:veinSize=32
    }

    block_quartz {
        S:baseBlock=quartz_ore
        I:baseBlockMeta=0
        S:baseBlockTexture=minecraft:quartz_ore
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=minecraft
        I:nuggetRenderType=0
        I:oreRenderType=2
        S:underlyingBlock=minecraft:netherrack
        I:veinHeight=128
        I:veinRate=10
        I:veinSize=64
    }

	block_apatite {
        S:baseBlock=resources
        I:baseBlockMeta=0
        S:baseBlockTexture=forestry:ores/apatite
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=Forestry
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }

	block_copper {
        S:baseBlock=Ore
        I:baseBlockMeta=0
        S:baseBlockTexture=thermalfoundation:ore/Ore_Copper
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=ThermalFoundation
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }
	
	block_tin {
        S:baseBlock=Ore
        I:baseBlockMeta=1
        S:baseBlockTexture=thermalfoundation:ore/Ore_Tin
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=ThermalFoundation
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }
	
	block_silver {
        S:baseBlock=Ore
        I:baseBlockMeta=2
        S:baseBlockTexture=thermalfoundation:ore/Ore_Silver
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=ThermalFoundation
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }
	
	block_ferrous {
        S:baseBlock=Ore
        I:baseBlockMeta=4
        S:baseBlockTexture=thermalfoundation:ore/Ore_Nickel
        S:dimBlackList=
        S:dimWhiteList=
        S:modID=ThermalFoundation
        I:nuggetRenderType=0
        I:oreRenderType=0
        S:underlyingBlock=minecraft:stone
        I:veinHeight=0
        I:veinRate=0
        I:veinSize=0
    }
}