# Configuration file

cfg {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client Side options that affect key handling and rendering.
    ##########################################################################################################

    client {
    }

    ##########################################################################################################
    # server
    #--------------------------------------------------------------------------------------------------------#
    # Server Side options that affect game logic.
    ##########################################################################################################

    server {
        I:shieldEmitterRange=5
        I:stargateMinDistance=150

        ##########################################################################################################
        # worldgen
        #--------------------------------------------------------------------------------------------------------#
        # World Generation settings.
        ##########################################################################################################

        worldgen {
            I:lootPodChance=10
            I:lootPodSpacing=6
        }

    }

}


ids {

    ##########################################################################################################
    # blocks
    #--------------------------------------------------------------------------------------------------------#
    # ID Values for blocks.
    ##########################################################################################################

    blocks {
    }

    ##########################################################################################################
    # items
    #--------------------------------------------------------------------------------------------------------#
    # ID Values for items.
    ##########################################################################################################

    items {
    }

}


##########################################################################################################
# plugins
#--------------------------------------------------------------------------------------------------------#
# Configuration values for Integration Plugins.
##########################################################################################################

plugins {

    computercraft {
        B:enable=true
    }

    industrialcraft2 {
        B:enable=true
    }

    thermalexpansion3 {
        B:enable=true
    }

    tinkersconstruct {
        B:enable=true
    }

}


